<div class="container card govco-card cds">
    <app-procedure></app-procedure>
    <app-opinion></app-opinion>
    <app-informate></app-informate>
</div>
<div><app-otros-temas></app-otros-temas></div>

<!--Contiene las secciones de la pagina Tramites - Opiniones - Informate - 
    otros temas en el orden correspondiente del modelo-->