<div class="container aling-left">
    <div class="cds-otros-text">
        <h2 class="font-weight-light">Otros temas de tu interés</h2>
    </div>
      <ng-container *ngFor="let otro of listOtros; let i = index">
          <div class="card govco-card tag">
            <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 ">
                <img class="card govco-card card-img govco-card-image govco-card-image-left img-otros" src="{{otro.imagen}}" alt="noticia-{{i}}">
          </div>
         
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="govco-left marg-otros">
            <p>{{otro.titular}}</p>
          </div>
          <div class="govco-left">
            <span>{{otro.descripcion}}</span>
          <div class="card-footer govco-card-footer govco-left">
              <a [href]="" class="btn btn-low-mix-govco float-left">
                <span class="btn-govco-text">{{otro.enlace}}</span>
                <span class="govco-icon govco-icon-right-arrow"></span>
              </a></div>
            </div>
          </div>
        </div>
        </div>
      </ng-container>  

