<div>
    <app-header></app-header>
    <app-banner></app-banner>
    <app-wrap></app-wrap>
    <app-footer></app-footer>
</div>

<!--Contien header - baner principal con barra de busqueda - wrap con las secciones de la pagina - footer-->