      <div class="cds-text">
      <h1 class="font-weight-light">Infórmate</h1>
      </div>
      <div class="container hall">
      <div class="">
      <div class="card-body">
          <ng-container *ngFor="let noticia of listInformate; let i = index">
            <div class="noticia">
              <div class="imagen w-30">
                <img class="da" src={{noticia.imagen}}/>
              </div></div>
              <div class="card govco-card da1">
              <div class="card-body">
                <p >{{noticia.titular}}</p>
                <span class="date">{{noticia.fecha}}</span>
              </div>
            
            </div>
          </ng-container>
      </div>
    </div>
      <div class="card-footer govco-card-footer govco-center">
        <a [href]="" class="btn btn-low-mix-govco float-right">
          <span class="btn-govco-text">Ver otras noticias</span>
          <span class="govco-icon govco-icon-right-arrow"></span>
        </a></div>
