 <div class="row mp">
  <div class="container col-7">
    <h1 class="font-weight-light">Queremos conocer tu opinión</h1>
    <div class="container">
        <p class="card-text">
    <ng-container *ngFor="let opinion of listOpinion; let i = index">
     <div class="etiqueta">&nbsp;{{opinion.estado}}</div>
        <div class="titulo-opcion">{{opinion.titulo}}</div>
            <div class="titulo-descripcion">{{opinion.entidad}}</div>
                <div class="titulo-participantes">{{opinion.participantes}}</div><hr>
    
    </ng-container>
       </p>
       <div class="vmm">
        <a [href]="" class="btn btn-low-mix-govco float-right">
          <span class="btn-govco-text"><h4>Conocer otros tramites</h4></span>
          <span class="govco-icon govco-icon-right-arrow tramite-link"></span>
        </a>
      </div>    
    </div>
</div>
          
<div class="container col-4">
          <div class="card govco-card">
            <div class="card-body">
              <div class="card-text texto1"><h2>Cuentanos</h2>
                <h4>¿Cómo podemos mejorar GOV.CO?</h4></div>
                <p class="texto1">Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
                <form>
                    <div class="form-group">
                      <input type="text" id="input_con_contador" class="form-control input-govco fg1" required placeholder="Escribe aquí tu opinión." maxlength="255">
                    </div>
                  </form>
                  <button href="/" class="btn btn-round btn-middle bac">Enviar mi opinión</button>
              </div>
          </div>
        </div>
  